<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">


<!--   core配置-->
<!--    <bean class="base.SimpleBean">-->
<!--        <property name="student" ref="student"/>-->
<!--    </bean>-->
<!--    <bean class="base.SimpleBeanPostProcessor"/>-->
<!--    <bean id="student" class="base.Student" primary="true" autowire="default" />-->
<!--    <bean class="base.SimpleBeanFactoryPostProcessor" />-->

<!--   Aop配置-->
    <bean class="aop.SimpleAopBean" />
    <bean id="simpleMethodInterceptor" class="aop.SimpleMethodInterceptor" />

<!--    <aop:config expose-proxy="true">-->
    <aop:config >
        <aop:advisor advice-ref="simpleMethodInterceptor"
                     pointcut="execution(* aop.SimpleAopBean.*(..))" />
<!--        <aop:aspect ref="simpleMethodInterceptor"  >-->
<!--            <aop:pointcut id="test" expression="execution(* aop.SimpleAopBean.*(..))"/>-->
<!--            <aop:before method="before2" pointcut-ref="test"/>-->
<!--        </aop:aspect>-->
    </aop:config>


<!--    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName" value="com.mysql.jdbc.Driver" />-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/test?characterEncoding=utf-8&amp;serverTimezone=UTC&amp;useSSL=false" />-->
<!--        <property name="username" value="root" />-->
<!--        <property name="password" value="adminadmin" />-->
<!--    </bean>-->
<!--    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--    </bean>-->
<!--    <tx:advice id="txAdvice" transaction-manager="transactionManager">-->
<!--        <tx:attributes>-->
<!--            <tx:method name="get*" read-only="true" propagation="NOT_SUPPORTED"/>-->
<!--            <tx:method name="find*" read-only="true" propagation="NOT_SUPPORTED"/>-->
<!--            <tx:method name="*" propagation="REQUIRED"/>-->
<!--        </tx:attributes>-->
<!--    </tx:advice>-->
<!--    <aop:config>-->
<!--        <aop:pointcut expression="execution(* base.service..*.*(..))" id="transaction"/>-->
<!--        <aop:advisor advice-ref="txAdvice" pointcut-ref="transaction"/>-->
<!--&lt;!&ndash;        <aop:aspect ref="" />&ndash;&gt;-->
<!--    </aop:config>-->

</beans>
